extensions/workflows/comfyui/llm-image-gen.json
{
  "name": "ComfyUI Dynamic Workflow Generation",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-dynamic-workflow",
        "options": {}
      },
      "id": "comfyui-dynamic-workflow-webhook",
      "name": "Dynamic Workflow Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.LLM_HOST || 'localhost') + ':' + ($env.LLM_API_PORT || '8080') + '/v1/chat/completions' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": "={{ JSON.stringify({\n  messages: [\n    {\n      role: 'system',\n      content: `You are a ComfyUI workflow generator. Generate a valid ComfyUI workflow JSON that can be directly used with the ComfyUI API.\n      \n      Requirements:\n      - Output ONLY valid JSON, no markdown formatting\n      - Use the workflow structure with node IDs as strings\n      - Include all required fields for each node\n      - Generate an image generation workflow based on the user prompt\n      - Include nodes for: CheckpointLoaderSimple, KSampler, VAEDecode, SaveImage\n      - Set positive and negative prompts from the user input\n      - Return just the workflow object, wrapped in {\"workflow\": ...}`\n    },\n    {\n      role: 'user',\n      content: $json.prompt || $json.message || 'Create a beautiful landscape image'\n    }\n  ],\n  model: $json.model || 'local-model',\n  max_tokens: parseInt($json.max_tokens || '2000'),\n  temperature: parseFloat($json.temperature || '0.7'),\n  top_p: parseFloat($json.top_p || '0.9'),\n  stream: false\n}) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "llm-api",
      "name": "LLM Chat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract workflow JSON from LLM response\nconst body = $json;\nconst choice = body.choices && body.choices[0] ? body.choices[0] : null;\nconst message = choice ? choice.message : null;\nconst content = message ? message.content : '';\n\n// Extract JSON from response (handle markdown code blocks)\nlet workflowJson = content;\n\n// Remove markdown code block markers if present\nif (workflowJson.includes('```json')) {\n  workflowJson = workflowJson.split('```json')[1];\n  if (workflowJson.includes('```')) {\n    workflowJson = workflowJson.split('```')[0];\n  }\n} else if (workflowJson.includes('```')) {\n  const parts = workflowJson.split('```');\n  if (parts.length >= 2) {\n    workflowJson = parts[1];\n  }\n}\n\ntry {\n  // Parse the workflow JSON\n  const parsed = JSON.parse(workflowJson);\n  \n  // Extract just the workflow object if wrapped\n  const workflow = parsed.workflow || parsed;\n  \n  return [{\n    json: {\n      success: true,\n      workflow: workflow,\n      raw_response: content,\n      model: body.model || 'unknown',\n      timestamp: new Date().toISOString()\n    },\n    binary: {\n      workflow_json: {\n        data: Buffer.from(JSON.stringify(workflow)),\n        mimeType: 'application/json'\n      }\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      raw_response: content,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "process-llm-response",
      "name": "Process LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.COMFYUI_HOST || 'localhost') + ':' + ($env.COMFYUI_PORT || '8188') + '/prompt' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": "={{ JSON.stringify({\n  prompt: $json.workflow,\n  client_id: 'n8n-comfyui-integration'\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "comfyui-api",
      "name": "ComfyUI Prompt API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process ComfyUI response\nconst body = $json;\nconst promptId = body.prompt_id || body.id || 'unknown';\nconst node_ids = body.node_ids || [];\n\nreturn [{\n  json: {\n    success: true,\n    prompt_id: promptId,\n    nodes_queued: node_ids.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-comfyui-response",
      "name": "Process ComfyUI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "channel": "={{ $json.channel || '#general' }}",
        "text": "={{ '*ComfyUI Dynamic Workflow Complete*\\n\\n**Prompt ID:** ' + $json.prompt_id + '\\n**Nodes Queued:** ' + $json.nodes_queued + '\\n**Status:** Workflow submitted to ComfyUI' }}"
      },
      "id": "comfyui-discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "ComfyUI Image Gen Webhook": {
      "main": [
        [
          {
            "node": "LLM Chat API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chat API": {
      "main": [
        [
          {
            "node": "Process LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process LLM Response": {
      "main": [
        [
          {
            "node": "ComfyUI Prompt API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI Prompt API": {
      "main": [
        [
          {
            "node": "Process ComfyUI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process ComfyUI Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "comfyui-dynamic-workflow-gen-v1"
  }
}
