extensions/workflows/whisper/stt-convert.json
{
  "name": "Whisper Audio Transcription",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whisper-stt",
        "options": {}
      },
      "id": "whisper-stt-webhook",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { audio (base64), channel (optional), api_key (optional header or body) }. Set WHISPER_API_KEY env var to enable authentication.",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// API Key authentication check - timing-safe comparison\nconst headers = $input.first().json.headers || {};\n\n// Case-insensitive header lookup (defense against platform normalization changes)\nconst headerKeys = Object.keys(headers);\nconst apiKeyHeader = headerKeys.find(k => k.toLowerCase() === 'x-api-key');\nconst providedKeyRaw = apiKeyHeader !== undefined ? headers[apiKeyHeader] : $input.first().json.api_key;\nconst expectedKey = $env.WHISPER_API_KEY;\n\n// Limit key length to prevent DoS via multi-megabyte payloads\nconst MAX_KEY_LENGTH = 256;\nconst providedKey = typeof providedKeyRaw === 'string' ? providedKeyRaw.slice(0, MAX_KEY_LENGTH) : '';\n\n// Timing-safe comparison - constant time regardless of input length\nfunction timingSafeEqual(a, b) {\n  if (typeof a !== 'string' || typeof b !== 'string') return false;\n  const MAX_LEN = 256;\n  if (a.length > MAX_LEN || b.length > MAX_LEN) return false;\n  \n  // Pad both strings to MAX_LEN with null bytes for constant-time comparison\n  const aPadded = a + '\\u0000'.repeat(MAX_LEN - a.length);\n  const bPadded = b + '\\u0000'.repeat(MAX_LEN - b.length);\n  \n  let result = 0;\n  for (let i = 0; i < MAX_LEN; i++) {\n    result |= aPadded.charCodeAt(i) ^ bPadded.charCodeAt(i);\n  }\n  return result === 0;\n}\n\nif (expectedKey && !timingSafeEqual(providedKey, expectedKey)) {\n  throw new Error('Authentication failed');\n}\n\nconst input = $input.first().json || {};\nconst audio = input.audio || '';\nconst channelRaw = (input.channel || 'general').replace(/^#+/, '').replace(/[<>@&]/g, '').slice(0, 100);\n\n// === AUDIO VALIDATION ===\nif (!audio || audio.trim().length === 0) {\n  throw new Error('Missing required field: audio (base64)');\n}\nif (audio.length > 2097152) { // ~2MB base64 ≈ 1.5MB binary\n  throw new Error('Audio too large: max ~2MB base64 encoded');\n}\n\n// === CHANNEL VALIDATION ===\nif (!channelRaw.match(/^[a-zA-Z0-9_-]+$/)) {\n  throw new Error('Invalid channel: must be alphanumeric, dash, or underscore only');\n}\nconst channel = channelRaw;\n\nreturn [{\n  json: {\n    audio: audio.trim(),\n    channel: channel\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "comment": "API key auth (if WHISPER_API_KEY set). Validates audio size (max ~2MB base64), channel format.",
      "notes": "Validates: audio (required, max ~2MB base64), channel (alphanumeric/dash/underscore)"
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.WHISPER_HOST || 'localhost') + ':' + ($env.WHISPER_PORT || '9000') + '/inference' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "binary": {
          "file": "={{ $('Validate Input').first().json.audio ? { data: $('Validate Input').first().json.audio, mimeType: 'audio/wav' } : null }}"
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "whisper-stt-api",
      "name": "Whisper STT API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "comment": "Uses validated audio input. 120 second timeout."
    },
    {
      "parameters": {
        "jsCode": "// Process transcription response\nconst body = $json;\nconst validatedInput = $('Validate Input').first().json || {};\nconst text = body.text || body.transcription || '';\nconst language = body.language || 'unknown';\nconst duration = body.duration || 0;\n\nreturn [{\n  json: {\n    success: text.length > 0,\n    language: language,\n    duration_seconds: duration,\n    character_count: text.length,\n    transcript: text,\n    timestamp: new Date().toISOString(),\n    channel: validatedInput.channel || 'general'\n  }\n}];"
      },
      "id": "process-stt-response",
      "name": "Process STT Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{ $json.channel || 'general' }}",
        "text": "={{ '*Audio Transcribed*\\n\\n**Language:** ' + $json.language + '\\n**Duration:** ' + ($json.duration_seconds || 0).toFixed(1) + 's\\n**Characters:** ' + ($json.character_count || 0) }}"
      },
      "id": "stt-discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{ $('Validate Input').first().json.channel || 'general' }}",
        "text": "={{ '*Whisper STT Failed*\\n\\n**Error:** ' + (($input.all()[0]?.error?.message || $input.all()[0]?.error?.description || 'Unknown error')).toString().slice(0, 997).trimEnd() + '\\n\\nPlease check:\\n- Whisper service is running\\n- Audio file is provided and under ~2MB base64\\n- API key is correct (if configured)' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "comment": "Catches errors from all nodes. Uses Validate Input for channel access and shows validation requirements."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Whisper STT API",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper STT API": {
      "main": [
        [
          {
            "node": "Process STT Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process STT Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "whisper-stt-workflow-v2"
  }
}