extensions/services/n8n/workflow-n8n-localai.json
{
  "name": "LocalAI Model Inference",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "localai-inference",
        "options": {}
      },
      "id": "localai-webhook-trigger",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { message, model (optional), temperature (optional), max_tokens (optional), channel (optional) }",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.LOCALAI_HOST || 'localhost') + ':' + ($env.LOCALAI_EXTERNAL_PORT || '8080') + '/v1/chat/completions' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "model": "={{ $json.model || 'local-model' }}",
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.message || 'Hello' }}"
            }
          ],
          "temperature": "={{ $json.temperature || 0.7 }}",
          "max_tokens": "={{ $json.max_tokens || 1024 }}",
          "stream": false
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "localai-api-call",
      "name": "LocalAI API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process LocalAI response - merge with original webhook input\n// $input.all() provides both LocalAI API response and Webhook Trigger payload\nconst allInputs = $input.all();\nconst body = allInputs[0]?.json || {};\nconst webhookInput = allInputs[1]?.json || {};\n\nconst message = body.choices?.[0]?.message?.content || body.message?.content || 'No response generated';\nconst model = body.model || webhookInput.model || 'unknown';\nconst usage = body.usage || {};\n\nreturn [{\n  json: {\n    success: !!message,\n    model: model,\n    response: message,\n    tokens_used: usage.total_tokens || 0,\n    prompt_tokens: usage.prompt_tokens || 0,\n    completion_tokens: usage.completion_tokens || 0,\n    timestamp: new Date().toISOString(),\n    channel: webhookInput.channel || '#general'\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "={{ $json.channel || '#general' }}",
        "text": "={{ '*LocalAI Response*\\n\\n**Model:** ' + ($json.model || 'unknown') + '\\n**Tokens:** ' + ($json.tokens_used || 0) + '\\n\\n' + ($json.response || '').toString().slice(0, 1800) }}"
      },
      "id": "discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [850, 300],
      "comment": "Sends response to Discord. Truncates to 1800 chars to stay under Discord's 2000 char limit."
    },
    {
      "parameters": {
        "channel": "={{ $('Webhook Trigger').first().json.channel || '#general' }}",
        "text": "={{ '*LocalAI Inference Failed*\\n\\n**Error:** ' + (($input.all()[0]?.error?.message || $input.all()[0]?.error?.description || 'Unknown error')).toString().slice(0, 997).trimEnd() + '\\n\\nPlease check the LocalAI service and try again.' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [450, 500],
      "comment": "Sends error notification. Uses $input.all()[0].error to access error details from error flow."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "LocalAI API Call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "LocalAI API Call": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "localai-workflow-v1"
  }
}
