extensions/services/n8n/workflow-n8n-ollama.json
{
  "name": "Ollama LLM Chat",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ollama-chat",
        "options": {}
      },
      "id": "ollama-webhook-trigger",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { message, model (optional), system (optional), temperature (optional), max_tokens (optional), channel (optional) }",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
      },
      "id": "validate-input",
      "name": "Validate Input",
      "comment": "Validates: API key auth, model name, message length, system prompt length, temperature (0.0-2.0), max_tokens (100-8192), channel name. Builds messages array with optional system prompt.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.OLLAMA_HOST || 'localhost') + ':' + ($env.OLLAMA_EXTERNAL_PORT || '11434') + '/api/chat' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "model": "={{ $json.model }}",
          "messages": "={{ $json.messages }}",
          "temperature": "={{ $json.temperature }}",
          "max_tokens": "={{ $json.max_tokens }}",
          "stream": false
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "ollama-api-call",
      "name": "Ollama API Call",
      "comment": "Calls Ollama /api/chat endpoint. 5 min timeout for large models.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Ollama response\nconst body = $input.first().json || {};\nconst webhookInput = $input.all()[1]?.json || {};\n\nconst message = body.message?.content || '';\nconst model = body.model || webhookInput.model || 'unknown';\nconst done = body.done || false;\nconst evalCount = body.eval_count || 0;\nconst promptEvalCount = body.prompt_eval_count || 0;\nconst totalDuration = body.total_duration || 0;\n\n// Convert nanoseconds to seconds for readability\nconst durationSec = (totalDuration / 1e9).toFixed(2);\n\nreturn [{\n  json: {\n    success: done && !!message,\n    model: model,\n    response: message,\n    tokens_used: evalCount + promptEvalCount,\n    prompt_tokens: promptEvalCount,\n    completion_tokens: evalCount,\n    duration_seconds: durationSec,\n    timestamp: new Date().toISOString(),\n    channel: webhookInput.channel || 'general'\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process Response",
      "comment": "Extracts response from Ollama format, calculates duration from nanoseconds.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{ $json.channel || '#general' }}",
        "text": "={{ '*Ollama Response*\n\n**Model:** ' + ($json.model || 'unknown') + '\n**Tokens:** ' + ($json.tokens_used || 0) + ' | **Time:** ' + ($json.duration_seconds || 0) + 's\n\n' + ($json.response || '').toString().slice(0, 1750) }}"
      },
      "id": "discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "comment": "Sends response to Discord. Truncates to 1750 chars to stay under Discord's 2000 char limit."
    },
    {
      "parameters": {
        "channel": "={{ $('Webhook Trigger').first().json.channel || '#general' }}",
        "text": "={{ '*Ollama Chat Failed*\n\n**Error:** ' + (($input.all()[0]?.error?.message || $input.all()[0]?.error?.description || 'Unknown error')).toString().slice(0, 997).trimEnd() + '\n\nPlease check the Ollama service and try again.' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "comment": "Sends error notification from Validate Input or API call failures."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Ollama API Call",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama API Call": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "ollama-workflow-v1"
  }
}
