extensions/services/n8n/workflow-n8n-bark-tts.json
{
  "name": "Bark TTS Speech Generation",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bark-tts",
        "options": {}
      },
      "id": "bark-webhook-trigger",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { text, voice_preset (optional), output_format (optional), channel (optional, defaults to #general) }",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.BARK_HOST || 'localhost') + ':' + ($env.BARK_EXTERNAL_PORT || '9200') + '/tts' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "text": "={{ $json.text || 'Hello world' }}",
          "voice_preset": "={{ $json.voice_preset || 'v2/en_speaker_6' }}",
          "output_format": "={{ $json.output_format || 'wav' }}"
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "bark-api-call",
      "name": "Bark API Call",
      "comment": "Requires BARK_HOST and BARK_EXTERNAL_PORT environment variables. Defaults to localhost:9200 if not set.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process Bark response - merge with original webhook input\n// $input.all() provides both Bark API response and Webhook Trigger payload\nconst allInputs = $input.all();\nconst barkResponse = allInputs[0]?.json || {};\nconst webhookInput = allInputs[1]?.json || {};\n\nconst audio_base64 = barkResponse.audio_base64 || '';\nconst sample_rate = barkResponse.sample_rate || 0;\nconst format = barkResponse.format || 'wav';\n\nreturn [{\n  json: {\n    success: !!audio_base64,\n    format: format,\n    sample_rate: sample_rate,\n    audio_size_bytes: audio_base64.length,\n    timestamp: new Date().toISOString(),\n    channel: webhookInput.channel || '#general',\n    text: webhookInput.text || '',\n    voice_preset: webhookInput.voice_preset || 'v2/en_speaker_6',\n    output_format: webhookInput.output_format || 'wav'\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "={{ $json.channel || '#general' }}",
        "text": "={{ '*Bark TTS Complete*\n\n**Format:** ' + ($json.format || 'unknown') + '\n**Sample Rate:** ' + ($json.sample_rate || 0) + ' Hz\n**Audio Size:** ' + Math.round(($json.audio_size_bytes || 0) / 1024) + ' KB**\n\n✅ Generation successful!' }}"
      },
      "id": "discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [850, 300],
      "comment": "Sends success notification to the channel specified in the webhook input (or #general if not provided)"
    },
    {
      "parameters": {
        "channel": "={{ $('Webhook Trigger').first().json.channel || '#general' }}",
        "text": "={{ '*Bark TTS Failed*\n\n**Error:** ' + (($json.message || $json.error || $json.description || (typeof $json === 'string' ? $json : 'Unknown error')).toString().slice(0, 1000)) + '\n**Status:** ' + (($json.statusCode || $json.code || 'N/A').toString().slice(0, 100) || 'N/A') + '\n\nPlease check the Bark service and try again.' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [450, 500],
      "comment": "Sends error notification to the channel specified in the webhook input. Uses $('Webhook Trigger') to access original input since error flow receives error object from failing node, not the original payload."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Bark API Call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Bark API Call": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "bark-tts-workflow-v1"
  }
}
