extensions/services/n8n/workflow-n8n-localai.json
{
  "name": "LocalAI Model Inference",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "localai-inference",
        "options": {}
      },
      "id": "localai-webhook-trigger",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { message, model (optional), temperature (optional), max_tokens (optional), channel (optional) }. API key via X-API-Key header only.",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// API Key authentication check - timing-safe comparison\nconst headers = $input.first().json.headers || {};\n\n// Case-insensitive header lookup\nconst headerKeys = Object.keys(headers);\nconst apiKeyHeader = headerKeys.find(k => k.toLowerCase() === 'x-api-key');\nconst providedKey = apiKeyHeader !== undefined ? headers[apiKeyHeader] : '';\nconst expectedKey = $env.LOCALAI_API_KEY;\n\n// Timing-safe comparison - prevents timing attacks on API key\nfunction timingSafeEqual(a, b) {\n  if (typeof a !== 'string' || typeof b !== 'string') return false;\n  const MAX_LEN = 256;\n  // Normalize both to exactly MAX_LEN characters (truncate or pad with \\0)\n  const aPadded = a.slice(0, MAX_LEN).padEnd(MAX_LEN, '\\0');\n  const bPadded = b.slice(0, MAX_LEN).padEnd(MAX_LEN, '\\0');\n  \n  let result = 0;\n  // Constant-time comparison: always iterate MAX_LEN, no early returns\n  for (let i = 0; i < MAX_LEN; i++) {\n    result |= aPadded.charCodeAt(i) ^ bPadded.charCodeAt(i);\n  }\n  // Include original length check in constant-time result\n  result |= (a.length === b.length) ? 0 : 1;\n  return result === 0;\n}\n\n// CRITICAL: Always validate API key if provided, regardless of expectedKey\n// This prevents fail-open vulnerability when env var is unset\n// Authentication logic:\n// - If server has expectedKey configured: client MUST provide matching key\n// - If server has NO expectedKey configured: reject any request that provides a key (unauthorized)\n// - If neither configured: allow (no auth required)\nif ((expectedKey || providedKey) && !timingSafeEqual(providedKey || '', expectedKey || '')) {\n  return [{ json: { valid: false, error: 'Authentication failed' } }];\n}\n\nconst input = $input.first().json || {};\nconst message = input.message || '';\nconst model = input.model || 'local-model';\nconst temperature = input.temperature;\nconst maxTokens = input.max_tokens;\n\n// === MODEL VALIDATION ===\nconst validModelPattern = /^[a-zA-Z0-9._-]+$/;\nif (!validModelPattern.test(model)) {\n  return [{ json: { valid: false, error: 'Invalid model name: must be alphanumeric, dot, dash, or underscore only' } }];\n}\nif (model.length > 100) {\n  return [{ json: { valid: false, error: 'Model name too long: max 100 characters' } }];\n}\n\n// === MESSAGE LENGTH VALIDATION ===\nif (typeof message !== 'string') {\n  return [{ json: { valid: false, error: 'Invalid message: must be a string' } }];\n}\nif (message.length > 32768) {\n  return [{ json: { valid: false, error: 'Message too long: max 32768 characters' } }];\n}\nif (message.length === 0) {\n  return [{ json: { valid: false, error: 'Missing required field: message' } }];\n}\n\n// === TEMPERATURE VALIDATION ===\nconst tempValue = temperature !== undefined ? parseFloat(temperature) : 0.7;\nif (isNaN(tempValue) || tempValue < 0.0 || tempValue > 2.0) {\n  return [{ json: { valid: false, error: 'Invalid temperature: must be a number between 0.0 and 2.0' } }];\n}\n\n// === MAX TOKENS VALIDATION ===\nconst tokensValue = maxTokens !== undefined ? parseInt(maxTokens, 10) : 1024;\nif (isNaN(tokensValue) || tokensValue < 100 || tokensValue > 4096) {\n  return [{ json: { valid: false, error: 'Invalid max_tokens: must be an integer between 100 and 4096' } }];\n}\n\n// === CHANNEL VALIDATION ===\nconst channelRaw = (input.channel || 'general').replace(/^#+/, '').replace(/[<>@&]/g, '').slice(0, 100);\nif (!channelRaw.match(/^[a-zA-Z0-9_-]+$/)) {\n  return [{ json: { valid: false, error: 'Invalid channel: must be alphanumeric, dash, or underscore only' } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    message: message,\n    model: model,\n    temperature: tempValue,\n    max_tokens: tokensValue,\n    channel: channelRaw,\n    stream: false\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "comment": "Validates: API key auth (header only - X-API-Key), model name, message length, temperature (0.0-2.0), max_tokens (100-4096), channel name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": [
          {
            "id": "cond1",
            "leftValue": "={{ $json.valid }}",
            "operator": {
              "operation": "equals",
              "type": "boolean"
            },
            "rightValue": true
          }
        ],
        "combineOperation": "all"
      },
      "id": "check-valid",
      "name": "Check Valid",
      "comment": "Branches based on validation result. True branch continues to LocalAI API Call, false branch goes to Error Response.",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.LOCALAI_HOST || 'localhost') + ':' + ($env.LOCALAI_EXTERNAL_PORT || '8080') + '/v1/chat/completions' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "model": "={{ $json.model }}",
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ],
          "temperature": "={{ $json.temperature }}",
          "max_tokens": "={{ $json.max_tokens }}",
          "stream": false
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "localai-api-call",
      "name": "LocalAI API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process LocalAI response\nconst body = $input.first().json || {};\n\nconst message = body.choices?.[0]?.message?.content || body.message?.content || 'No response generated';\nconst model = body.model || 'unknown';\nconst usage = body.usage || {};\n\nreturn [{\n  json: {\n    valid: true,\n    success: !!message,\n    model: model,\n    response: message,\n    tokens_used: usage.total_tokens || 0,\n    prompt_tokens: usage.prompt_tokens || 0,\n    completion_tokens: usage.completion_tokens || 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "webhookUri": "={{ $env.DISCORD_WEBHOOK_URL || '' }}",
        "text": "={{ '*LocalAI Response*\\n\\n**Model:** ' + ($json.model || 'unknown') + '\\n**Tokens:** ' + ($json.tokens_used || 0) + '\\n\\n' + ($json.response || '').toString().slice(0, 1800) }}"
      },
      "id": "discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ],
      "comment": "Sends response to Discord webhook. Truncates to 1800 chars to stay under Discord's 2000 char limit."
    },
    {
      "parameters": {
        "statusCode": 400,
        "body": "={{ JSON.stringify({ error: $json.error || 'Validation failed' }) }}",
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "comment": "Returns HTTP 400 for validation/auth failures.",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "webhookUri": "={{ $env.DISCORD_WEBHOOK_URL || '' }}",
        "text": "={{ '*LocalAI Inference Failed* \\u274c\\n\\n**Error:** ' + (($input.all()[0]?.error?.message || $input.all()[0]?.error?.description || $json.error || 'Unknown error')).toString().slice(0, 997).trimEnd() + '\\n\\nPlease check:\\n- LocalAI service is running\\n- API key is valid (if configured)\\n- Model name is valid\\n- Message length is under 32768 chars' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1050,
        500
      ],
      "comment": "Sends error notification from validation or API call failures."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "LocalAI API Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LocalAI API Call": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "localai-workflow-v4"
  }
}
