extensions/services/n8n/workflow-n8n-rvc.json
{
  "name": "RVC Voice Conversion",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rvc-convert",
        "options": {}
      },
      "id": "rvc-webhook-trigger",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { model (required), audio_path (optional), audio (optional, base64), channel (optional) }. API key via X-API-Key header only. Set RVC_API_KEY env var to enable authentication.",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// API Key authentication check - timing-safe comparison\nconst headers = $input.first().json.headers || {};\n\n// Case-insensitive header lookup (defense against platform normalization changes)\nconst headerKeys = Object.keys(headers);\nconst apiKeyHeader = headerKeys.find(k => k.toLowerCase() === 'x-api-key');\nconst providedKey = apiKeyHeader ? headers[apiKeyHeader] : '';\nconst expectedKey = $env.RVC_API_KEY;\n\n// Timing-safe comparison - prevents timing attacks on API key\nfunction timingSafeEqual(a, b) {\n  if (typeof a !== 'string' || typeof b !== 'string') return false;\n  const MAX_LEN = 256;\n  if (a.length > MAX_LEN || b.length > MAX_LEN) return false;\n  \n  let result = 0;\n  // Constant-time comparison: always iterate MAX_LEN, use 0 for out-of-bounds\n  for (let i = 0; i < MAX_LEN; i++) {\n    const charA = i < a.length ? a.charCodeAt(i) : 0;\n    const charB = i < b.length ? b.charCodeAt(i) : 0;\n    result |= charA ^ charB;\n  }\n  // Include length check in constant-time result\n  result |= (a.length === b.length) ? 0 : 1;\n  return result === 0;\n}\n\n// Always validate if server has key configured; reject if client provides key when server has none\nif (expectedKey ? !timingSafeEqual(providedKey || '', expectedKey) : providedKey) {\n  throw new Error('Authentication failed');\n}\n\nconst input = $input.first().json || {};\nconst model = input.model || '';\nconst audioPath = input.audio_path || '';\nconst audio = input.audio || '';\n\n// === ENHANCED PATH TRAVERSAL PROTECTION ===\n// Blocks: ../, ..\\, %2e%2e%2f, %252e%252e%252f, %2f, %252f, null bytes, absolute paths, Windows drive letters\nconst pathTraversalPattern = /(\\.\\.[/\\\\]|%2e%2e[/\\\\]|%252e%252e[/\\\\]|%2[fF]|%252[fF]|%00|\\x00|^\\/|^[a-zA-Z]:\\\\)/i;\n\n// Decode and normalize for Unicode NFC attack detection\nlet normalizedPath;\ntry {\n  normalizedPath = decodeURIComponent(audioPath).normalize('NFC');\n} catch (e) {\n  throw new Error('Invalid audio_path: malformed URL encoding');\n}\n\n// === MODEL VALIDATION ===\nconst validModelPattern = /^[a-zA-Z0-9._-]+$/;\n\n// === CHANNEL VALIDATION ===\n// Strip # prefix and Discord special chars, then validate clean name\nconst channelRaw = (input.channel || 'general').replace(/^#+/, '').replace(/[<>@&]/g, '').slice(0, 100);\nif (!channelRaw.match(/^[a-zA-Z0-9_-]+$/)) {\n  throw new Error('Invalid channel: must be alphanumeric, dash, or underscore only');\n}\nconst channel = channelRaw;\n\n// === F0_METHOD ALLOWLIST ===\nconst validF0Methods = ['harvest', 'pm', 'dio', 'rmvpe', 'crepe', 'crepe-tiny', 'mangio-crepe', 'mangio-crepe-tiny'];\nconst f0Method = (input.f0_method || 'rmvpe').toLowerCase();\n\n// === PITCH VALIDATION ===\nconst pitchRaw = parseInt(input.pitch ?? 0, 10);\nif (isNaN(pitchRaw) || pitchRaw < -12 || pitchRaw > 12) {\n  throw new Error('Invalid pitch: must be a number between -12 and +12 semitones');\n}\nconst pitch = pitchRaw;\n\n// === REQUIRED FIELD CHECKS ===\nif (!model) {\n  throw new Error('Missing required field: model');\n}\nif (!audio && !audioPath) {\n  throw new Error('Missing required field: audio or audio_path');\n}\n\n// === PATH VALIDATION ===\nif (audioPath) {\n  if (pathTraversalPattern.test(audioPath) || pathTraversalPattern.test(normalizedPath)) {\n    throw new Error('Path traversal detected: audio_path contains invalid sequences');\n  }\n}\n\n// === MODEL VALIDATION ===\nif (!validModelPattern.test(model)) {\n  throw new Error('Invalid model name: must be alphanumeric, dot, dash, or underscore only');\n}\nif (model.length > 100) {\n  throw new Error('Model name too long: max 100 characters');\n}\n\n// === F0_METHOD VALIDATION ===\nif (!validF0Methods.includes(f0Method)) {\n  throw new Error('Invalid f0_method: must be one of ' + validF0Methods.join(', '));\n}\n\nreturn [{\n  json: {\n    model: model,\n    audio: audio,\n    audio_path: audioPath,\n    channel: channel,\n    pitch: pitch,\n    f0_method: f0Method\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "comment": "API key auth (if RVC_API_KEY set). Validates model name, path traversal (../, null bytes, double encoding, URL-encoded slashes, absolute paths, unicode), pitch (-12 to 12), f0_method (allowlist)",
      "notes": "Validates: model name (alphanumeric, dash, underscore), path traversal protection (../, null bytes, double encoding, %2f/%252f URL-encoded slashes, absolute paths, unicode), pitch (-12 to 12), f0_method allowlist, API key auth"
    },
    {
      "parameters": {
        "url": "={{ 'http://' + $env.RVC_HOST + ':' + ($env.RVC_PORT || '7865') + '/upload' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "body": {
          "mimeType": "multipart/form-data",
          "form-data": [
            {
              "key": "audio",
              "type": "file",
              "value": "={{ $input.first().json.audio }}"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "maxResponseSize": 104857600
        }
      },
      "id": "rvc-upload",
      "name": "RVC Upload",
      "comment": "Requires RVC_HOST and RVC_PORT environment variables. Configure RVC_HOST to 'rvc' for docker-compose. 100MB max response size.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate upload response path\nconst uploadResponse = $input.first().json || {};\nconst path = uploadResponse.path || '';\n\n// Must have a path from upload - no fallback to user input\nif (!path) {\n  throw new Error('No audio path returned from upload service');\n}\n\n// Decode and validate the path\nlet decodedPath;\ntry {\n  decodedPath = decodeURIComponent(path).normalize('NFC');\n} catch (e) {\n  throw new Error('Invalid upload path: malformed URL encoding');\n}\n\n// Strict validation: must be /tmp/<alphanumeric>.<audio_ext>\nconst validPathPattern = /^\\/tmp\\/[a-zA-Z0-9_-]+\\.(wav|mp3|ogg|flac|webm)$/i;\n\n// Path traversal check with URL-encoded variants\nconst traversalPattern = /(\\.\\.[/\\\\]|%2e%2e%2[fF]|%252e%252e%252[fF]|%2[fF]|%252[fF]|%00)/i;\n\n// Check for traversal in both raw and decoded path\nif (traversalPattern.test(path) || traversalPattern.test(decodedPath) || !validPathPattern.test(decodedPath)) {\n  throw new Error('Invalid upload response path: failed validation');\n}\n\nreturn [{ json: { path: path, from_upload: true } }];"
      },
      "id": "validate-upload-path",
      "name": "Validate Upload Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "comment": "Validates upload response path: decodes URL, checks for traversal (including %2f/%252f), validates /tmp/<alphanumeric>.<ext> pattern. No fallback to user input."
    },
    {
      "parameters": {
        "url": "={{ 'http://' + $env.RVC_HOST + ':' + ($env.RVC_PORT || '7865') + '/convert' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "mimeType": "application/json",
          "raw": "={{ JSON.stringify({\n  model: $('Validate Input').first().json.model,\n  audio_path: $('Validate Upload Path').first().json.path,\n  pitch: $('Validate Input').first().json.pitch,\n  f0_method: $('Validate Input').first().json.f0_method\n}) }}"
        },
        "options": {
          "timeout": 300000,
          "maxResponseSize": 104857600
        }
      },
      "id": "rvc-convert",
      "name": "RVC Convert",
      "comment": "Uses validated inputs and validated upload path. 100MB max response, 5 min timeout.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Process RVC conversion response\n  const body = $input.first().json || {};\n  const validatedInput = $('Validate Input').first().json || {};\n\n  const downloadUrl = body.download_url || body.url || '';\n  const success = !!downloadUrl;\n\n  // Validate download URL doesn't contain traversal\n  if (downloadUrl && /(\\.\\.|\\\\x00|%00)/.test(downloadUrl)) {\n    throw new Error('Invalid download URL: contains suspicious sequences');\n  }\n\n  return [{\n    json: {\n      success: success,\n      model: validatedInput.model || 'unknown',\n      pitch: validatedInput.pitch || 0,\n      f0_method: validatedInput.f0_method || 'rmvpe',\n      download_url: downloadUrl,\n      channel: validatedInput.channel || 'general',\n      timestamp: new Date().toISOString()\n    }\n  }];\n} catch (err) {\n  throw new Error('Process Response failed: ' + err.message);\n}"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "comment": "Uses validated inputs. Validates download_url for traversal. Wrapped in try/catch."
    },
    {
      "parameters": {
        "webhookUri": "={{ $env.DISCORD_WEBHOOK_URL || '' }}",
        "text": "={{ '*RVC Voice Conversion Complete* \ud83c\udf99\ufe0f\\n\\n**Model:** ' + ($json.model || 'unknown') + '\\n**Pitch Shift:** ' + ($json.pitch || 0) + ' semitones\\n**F0 Method:** ' + ($json.f0_method || 'rmvpe') + '\\n\\n**Download:** ' + ($json.download_url || 'N/A') + '\\n\\n\u2705 Voice conversion finished!' }}"
      },
      "id": "discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "comment": "Sends response to Discord webhook."
    },
    {
      "parameters": {
        "webhookUri": "={{ $env.DISCORD_WEBHOOK_URL || '' }}",
        "text": "={{ '*RVC Conversion Failed* \u274c\\n\\n**Error:** ' + (($input.all()[0]?.error?.message || $input.all()[0]?.error?.description || 'Unknown error')).toString().slice(0, 997).trimEnd() + '\\n\\nPlease check:\\n- RVC service is running\\n- Model name is valid (alphanumeric, dash, underscore)\\n- Audio file is provided\\n- Pitch is between -12 and 12\\n- f0_method is valid (harvest, pm, dio, rmvpe, crepe, etc.)\\n- GPU has sufficient VRAM' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "comment": "Catches errors from all nodes. Sends to Discord webhook."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "RVC Upload",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RVC Upload": {
      "main": [
        [
          {
            "node": "Validate Upload Path",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RVC Convert": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Upload Path": {
      "main": [
        [
          {
            "node": "RVC Convert",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "rvc-workflow-v1"
  }
}