extensions/services/n8n/workflow-n8n-comfyui.json
{
  "name": "ComfyUI Image Generation",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-generate",
        "options": {}
      },
      "id": "comfyui-webhook-trigger",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { prompt (required), width (optional, default 1024), height (optional, default 1024), steps (optional, default 20), cfg (optional, default 8.0), seed (optional, random if not set), channel (optional) }",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate input and set defaults\nconst input = $input.first().json;\n\n// Validate prompt\nconst prompt = (input.prompt || '').toString().trim();\nif (!prompt) {\n  throw new Error('Missing required field: prompt');\n}\nif (prompt.length > 2000) {\n  throw new Error('Prompt too long: max 2000 characters');\n}\n\n// Validate dimensions\nconst width = Math.min(Math.max(parseInt(input.width) || 1024, 256), 2048);\nconst height = Math.min(Math.max(parseInt(input.height) || 1024, 256), 2048);\nconst steps = Math.min(Math.max(parseInt(input.steps) || 20, 1), 50);\nconst cfg = Math.min(Math.max(parseFloat(input.cfg) || 8.0, 1.0), 30.0);\nconst seed = parseInt(input.seed) || Math.floor(Math.random() * 9999999999);\n\nreturn [{\n  json: {\n    prompt: prompt,\n    width: width,\n    height: height,\n    steps: steps,\n    cfg: cfg,\n    seed: seed,\n    channel: input.channel || '#general',\n    model: ($env.COMFYUI_MODEL || 'flux1-dev.safetensors').toString()\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [350, 300],
      "comment": "Validates prompt is present and within limits. Clamps dimensions/steps/CFG to safe ranges."
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.COMFYUI_HOST || 'localhost') + ':' + ($env.COMFYUI_EXTERNAL_PORT || '8188') + '/prompt' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": "={{ { \"prompt\": { \"3\": { \"inputs\": { \"seed\": $json.seed, \"steps\": $json.steps, \"cfg\": $json.cfg, \"sampler_name\": \"euler\", \"scheduler\": \"normal\", \"denoise\": 1.0, \"model\": [\"4\", 0], \"positive\": [\"6\", 0], \"negative\": [\"7\", 0], \"latent_image\": [\"5\", 0] }, \"class_type\": \"KSampler\" }, \"4\": { \"inputs\": { \"ckpt_name\": $json.model }, \"class_type\": \"CheckpointLoaderSimple\" }, \"5\": { \"inputs\": { \"width\": $json.width, \"height\": $json.height, \"batch_size\": 1 }, \"class_type\": \"EmptyLatentImage\" }, \"6\": { \"inputs\": { \"text\": $json.prompt, \"clip\": [\"4\", 1] }, \"class_type\": \"CLIPTextEncode\" }, \"7\": { \"inputs\": { \"text\": \"text, watermark, blurry, low quality\", \"clip\": [\"4\", 1] }, \"class_type\": \"CLIPTextEncode\" }, \"8\": { \"inputs\": { \"samples\": [\"3\", 0], \"vae\": [\"4\", 2] }, \"class_type\": \"VAEDecode\" }, \"9\": { \"inputs\": { \"filename_prefix\": \"n8n_output\", \"images\": [\"8\", 0] }, \"class_type\": \"SaveImage\" } }, \"client_id\": 'n8n_' + new Date().getTime() } }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "comfyui-queue-prompt",
      "name": "Queue Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [550, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process ComfyUI response\nconst body = $input.first().json || {};\nconst webhookInput = $('Validate Input').first().json || {};\n\nconst promptId = body.prompt_id || 'unknown';\nconst number = body.number || 0;\n\nreturn [{\n  json: {\n    success: !!promptId && promptId !== 'unknown',\n    prompt_id: promptId,\n    queue_number: number,\n    timestamp: new Date().toISOString(),\n    channel: webhookInput.channel || '#general',\n    prompt: webhookInput.prompt || '',\n    width: webhookInput.width || 1024,\n    height: webhookInput.height || 1024,\n    steps: webhookInput.steps || 20,\n    cfg: webhookInput.cfg || 8.0,\n    seed: webhookInput.seed || 'random'\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "channel": "={{ $json.channel || '#general' }}",
        "text": "={{ '*ComfyUI Image Queued* 🎨\\n\\n**Prompt:** ' + ($json.prompt || '').toString().slice(0, 97).trimEnd() + (($json.prompt || '').length > 97 ? '...' : '') + '\\n**Size:** ' + ($json.width || 1024) + 'x' + ($json.height || 1024) + '\\n**Steps:** ' + ($json.steps || 20) + ' | **CFG:** ' + ($json.cfg || 8.0) + '\\n**Seed:** ' + ($json.seed || 'random') + '\\n\\n**Prompt ID:** `' + ($json.prompt_id || 'unknown') + '`\\n**Queue #:** ' + ($json.queue_number || 0) + '\\n\\n✅ Image generation started! Check ComfyUI for results.' }}"
      },
      "id": "discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [950, 300],
      "comment": "Sends queue confirmation to Discord. Truncates prompt cleanly at 100 chars with ellipsis."
    },
    {
      "parameters": {
        "channel": "={{ $('Validate Input').first().json.channel || '#general' }}",
        "text": "={{ '*ComfyUI Generation Failed*\\n\\n**Error:** ' + (($input.all()[0]?.error?.message || $input.all()[0]?.error?.description || 'Unknown error')).toString().slice(0, 997).trimEnd() + '\\n\\nPlease check:\\n- ComfyUI service is running\\n- FLUX.1 model is loaded\\n- GPU has sufficient VRAM' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [550, 500],
      "comment": "Sends error notification. Uses $input.all()[0].error to access error details."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Queue Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Prompt": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "comfyui-workflow-v1"
  }
}
