extensions/services/n8n/workflow-n8n-localai.json
{
  "name": "LocalAI Model Inference",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "localai-inference",
        "options": {}
      },
      "id": "localai-webhook-trigger",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { message, model (optional), temperature (optional), max_tokens (optional), channel (optional) }",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// API Key authentication check - timing-safe comparison\nconst headers = $input.first().json.headers || {};\n\n// Case-insensitive header lookup\nconst headerKeys = Object.keys(headers);\nconst apiKeyHeader = headerKeys.find(k => k.toLowerCase() === 'x-api-key');\nconst providedKey = apiKeyHeader !== undefined ? headers[apiKeyHeader] : $input.first().json.api_key;\nconst expectedKey = $env.LOCALAI_API_KEY;\n\n// Timing-safe comparison - constant time regardless of input length\nfunction timingSafeEqual(a, b) {\n  if (typeof a !== 'string' || typeof b !== 'string') return false;\n  const maxLen = Math.max(a.length, b.length);\n  let result = 0;\n  for (let i = 0; i < maxLen; i++) {\n    const charA = i < a.length ? a.charCodeAt(i) : 0;\n    const charB = i < b.length ? b.charCodeAt(i) : 0;\n    result |= charA ^ charB;\n  }\n  return result === 0 && a.length === b.length;\n}\n\nif (expectedKey && !timingSafeEqual(providedKey || '', expectedKey)) {\n  throw new Error('Authentication failed');\n}\n\nconst input = $input.first().json || {};\nconst message = input.message || '';\nconst model = input.model || 'local-model';\nconst temperature = input.temperature;\nconst maxTokens = input.max_tokens;\n\n// === MODEL VALIDATION ===\nconst validModelPattern = /^[a-zA-Z0-9._-]+$/;\nif (!validModelPattern.test(model)) {\n  throw new Error('Invalid model name: must be alphanumeric, dot, dash, or underscore only');\n}\nif (model.length > 100) {\n  throw new Error('Model name too long: max 100 characters');\n}\n\n// === MESSAGE LENGTH VALIDATION ===\nif (typeof message !== 'string') {\n  throw new Error('Invalid message: must be a string');\n}\nif (message.length > 32768) {\n  throw new Error('Message too long: max 32768 characters');\n}\nif (message.length === 0) {\n  throw new Error('Missing required field: message');\n}\n\n// === TEMPERATURE VALIDATION ===\nconst tempValue = temperature !== undefined ? parseFloat(temperature) : 0.7;\nif (isNaN(tempValue) || tempValue < 0.0 || tempValue > 2.0) {\n  throw new Error('Invalid temperature: must be a number between 0.0 and 2.0');\n}\n\n// === MAX TOKENS VALIDATION ===\nconst tokensValue = maxTokens !== undefined ? parseInt(maxTokens, 10) : 1024;\nif (isNaN(tokensValue) || tokensValue < 100 || tokensValue > 4096) {\n  throw new Error('Invalid max_tokens: must be an integer between 100 and 4096');\n}\n\n// === CHANNEL VALIDATION ===\nconst channelRaw = (input.channel || 'general').replace(/^#+/, '').replace(/[<>@&]/g, '').slice(0, 100);\nif (!channelRaw.match(/^[a-zA-Z0-9_-]+$/)) {\n  throw new Error('Invalid channel: must be alphanumeric, dash, or underscore only');\n}\n\nreturn [{\n  json: {\n    message: message,\n    model: model,\n    temperature: tempValue,\n    max_tokens: tokensValue,\n    channel: channelRaw,\n    stream: false\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "comment": "Validates: API key auth, model name, message length, temperature (0.0-2.0), max_tokens (100-4096), channel name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.LOCALAI_HOST || 'localhost') + ':' + ($env.LOCALAI_EXTERNAL_PORT || '8080') + '/v1/chat/completions' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "model": "={{ $json.model }}",
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ],
          "temperature": "={{ $json.temperature }}",
          "max_tokens": "={{ $json.max_tokens }}",
          "stream": false
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "localai-api-call",
      "name": "LocalAI API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process LocalAI response\nconst body = $input.first().json || {};\nconst webhookInput = $input.all()[1]?.json || {};\n\nconst message = body.choices?.[0]?.message?.content || body.message?.content || 'No response generated';\nconst model = body.model || webhookInput.model || 'unknown';\nconst usage = body.usage || {};\n\nreturn [{\n  json: {\n    success: !!message,\n    model: model,\n    response: message,\n    tokens_used: usage.total_tokens || 0,\n    prompt_tokens: usage.prompt_tokens || 0,\n    completion_tokens: usage.completion_tokens || 0,\n    timestamp: new Date().toISOString(),\n    channel: webhookInput.channel || '#general'\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "channel": "={{ $json.channel || '#general' }}",
        "text": "={{ '*LocalAI Response*\\n\\n**Model:** ' + ($json.model || 'unknown') + '\\n**Tokens:** ' + ($json.tokens_used || 0) + '\\n\\n' + ($json.response || '').toString().slice(0, 1800) }}"
      },
      "id": "discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1050, 300],
      "comment": "Sends response to Discord. Truncates to 1800 chars to stay under Discord's 2000 char limit."
    },
    {
      "parameters": {
        "channel": "={{ $('Webhook Trigger').first().json.channel || '#general' }}",
        "text": "={{ '*LocalAI Inference Failed*\\n\\n**Error:** ' + (($input.all()[0]?.error?.message || $input.all()[0]?.error?.description || 'Unknown error')).toString().slice(0, 997).trimEnd() + '\\n\\nPlease check the LocalAI service and try again.' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [650, 500],
      "comment": "Sends error notification from Validate Input or API call failures."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "LocalAI API Call",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LocalAI API Call": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "localai-workflow-v2"
  }
}
