extensions/services/n8n/workflow-n8n-flowise.json
{
  "name": "Flowise Chatflow",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flowise-chat",
        "options": {}
      },
      "id": "flowise-webhook-trigger",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { chatflowId (required), question (required), sessionId (optional), stream (optional) }. API key via X-API-Key header only. Set FLOWISE_API_KEY env var to enable authentication.",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// API Key authentication check - timing-safe comparison\nconst headers = $input.first().json.headers || {};\n\n// Case-insensitive header lookup (defense against platform normalization changes)\nconst headerKeys = Object.keys(headers);\nconst apiKeyHeader = headerKeys.find(k => k.toLowerCase() === 'x-api-key');\nconst providedKey = apiKeyHeader !== undefined ? headers[apiKeyHeader] : '';\nconst expectedKey = $env.FLOWISE_API_KEY;\n\n// Timing-safe comparison - prevents timing attacks on API key\nfunction timingSafeEqual(a, b) {\n  if (typeof a !== 'string' || typeof b !== 'string') return false;\n  const MAX_LEN = 256;\n\n  // Include bounds check in result (constant-time, no branch)\n  let result = (a.length > MAX_LEN || b.length > MAX_LEN) ? 1 : 0;\n  // Constant-time comparison: always iterate MAX_LEN, use 0 for out-of-bounds\n  for (let i = 0; i < MAX_LEN; i++) {\n    const charA = i < a.length ? a.charCodeAt(i) : 0;\n    const charB = i < b.length ? b.charCodeAt(i) : 0;\n    result |= charA ^ charB;\n  }\n  // Include length check in constant-time result\n  result |= (a.length === b.length) ? 0 : 1;\n  return result === 0;\n}\n\n// CRITICAL: Always validate API key if provided, regardless of expectedKey\n// This prevents fail-open vulnerability when env var is unset\n// Authentication logic:\n// - If server has expectedKey configured: client MUST provide matching key\n// - If server has NO expectedKey configured: reject any request that provides a key (unauthorized)\n// - If neither configured: allow (no auth required)\nif ((expectedKey || providedKey) && !timingSafeEqual(providedKey || '', expectedKey || '')) {\n  return [{ json: { valid: false, error: 'Authentication failed' } }];\n}\n\nconst input = $input.first().json || {};\nconst chatflowId = input.chatflowId || '';\nconst question = input.question || '';\nconst sessionId = input.sessionId || '';\nconst stream = input.stream || false;\n\n// === CHATFLOW_ID VALIDATION ===\nif (!chatflowId) {\n  return [{ json: { valid: false, error: 'Missing required field: chatflowId' } }];\n}\nif (typeof chatflowId !== 'string') {\n  return [{ json: { valid: false, error: 'Invalid chatflowId: must be a string' } }];\n}\nif (chatflowId.length > 100) {\n  return [{ json: { valid: false, error: 'chatflowId too long: max 100 characters' } }];\n}\n\n// === QUESTION VALIDATION ===\nif (!question) {\n  return [{ json: { valid: false, error: 'Missing required field: question' } }];\n}\nif (typeof question !== 'string') {\n  return [{ json: { valid: false, error: 'Invalid question: must be a string' } }];\n}\nif (question.length > 32768) {\n  return [{ json: { valid: false, error: 'Question too long: max 32768 characters' } }];\n}\n\n// === SESSION_ID VALIDATION ===\nif (sessionId && typeof sessionId !== 'string') {\n  return [{ json: { valid: false, error: 'Invalid sessionId: must be a string' } }];\n}\nif (sessionId && sessionId.length > 256) {\n  return [{ json: { valid: false, error: 'sessionId too long: max 256 characters' } }];\n}\n\n// === STREAM VALIDATION ===\nif (typeof stream !== 'boolean') {\n  return [{ json: { valid: false, error: 'Invalid stream: must be a boolean' } }];\n}\n\n// === CHANNEL VALIDATION ===\nconst channelRaw = (input.channel || 'general').replace(/^#+/, '').replace(/[<>@&]/g, '').slice(0, 100);\nif (!channelRaw.match(/^[a-zA-Z0-9_-]+$/)) {\n  return [{ json: { valid: false, error: 'Invalid channel: must be alphanumeric, dash, or underscore only' } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    chatflowId: chatflowId,\n    question: question,\n    sessionId: sessionId,\n    stream: stream,\n    channel: channelRaw\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "comment": "Validates: API key auth (header only - X-API-Key), chatflowId (required), question (required), sessionId (optional), stream (boolean), channel name. Returns {valid: true, ...} on success or {valid: false, error: ...} on failure.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "type": "boolean"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.valid }}",
              "operator": {
                "name": "equal",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-valid",
      "name": "Check Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "comment": "Branches based on validation result. True = valid input, continue to Flowise API. False = validation/auth failed, route to Error Response."
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.FLOWISE_HOST || 'localhost') + ':' + ($env.FLOWISE_PORT || '3002') + '/api/v1/prediction/' + $('Validate Input').first().json.chatflowId }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "mimeType": "application/json",
          "raw": "={{ JSON.stringify({\n  question: $('Validate Input').first().json.question,\n  sessionId: $('Validate Input').first().json.sessionId || undefined,\n  stream: $('Validate Input').first().json.stream\n}) }}"
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "flowise-api-call",
      "name": "Flowise API Call",
      "comment": "Calls Flowise /api/v1/prediction/{chatflowId} endpoint. 5 min timeout for complex workflows.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Flowise response\nconst body = $input.first().json || {};\nconst webhookInput = $('Validate Input').first().json || {};\n\nconst text = body.text || body.answer || '';\nconst sessionId = body.sessionId || body.session_id || '';\nconst conversationId = body.conversationId || body.conversation_id || '';\nconst latency = body.latency || 0;\n\nreturn [{\n  json: {\n    success: !!text,\n    text: text,\n    sessionId: sessionId,\n    conversationId: conversationId,\n    latency: latency,\n    channel: webhookInput.channel || 'general',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process Response",
      "comment": "Extracts answer/text from Flowise format, handles sessionId, conversationId, and latency.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "webhookUri": "={{ $env.DISCORD_WEBHOOK_URL || '' }}",
        "text": "={{ '*Flowise Response* \ud83e\udd16\\n\\n**Latency:** ' + ($json.latency + 'ms' || 'N/A') + '\\n**Answer:** ' + ($json.text || 'No response').toString().slice(0, 1750) + '\\n\\n**Session ID:** ' + ($json.sessionId || 'N/A') }}"
      },
      "id": "discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ],
      "comment": "Sends response to Discord webhook. Truncates answer to 1750 chars to stay under Discord's 2000 char limit."
    },
    {
      "parameters": {
        "statusCode": 400,
        "body": "={{ JSON.stringify({ error: $json.error || 'Validation failed' }) }}",
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "comment": "Returns HTTP 400 for validation/auth failures.",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "webhookUri": "={{ $env.DISCORD_WEBHOOK_URL || '' }}",
        "text": "={{ '*Flowise Failed* \u274c\\n\\n**Error:** ' + (($input.all()[0]?.error?.message || $input.all()[0]?.error?.description || $json.error || 'Unknown error')).toString().slice(0, 997).trimEnd() + '\\n\\nPlease check:\\n- Flowise service is running\\n- chatflowId is valid\\n- API key is correct\\n- Chatflow is deployed' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1050,
        500
      ],
      "comment": "Sends error notification from API call failures."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "Flowise API Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flowise API Call": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "flowise-workflow-v2"
  }
}
